@model Eazywebapp_eindwerk.Models.ViewModels.ProjectInvoiceDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}
@if (Model.Count == 1)
{
    <h2 style="color:red;">Aan dit project is nog @Html.DisplayFor(s => s.Count) factuur gelinkt, <a asp-controller="Invoice" asp-action="Index">verwijder die eerst</a>.</h2>
}
else if (Model.Count > 1)
{
<h2 style="color:red;">Aan dit project zijn nog @Html.DisplayFor(s => s.Count) facturen gelinkt, <a asp-controller="Invoice" asp-action="Index">verwijder die eerst</a>.</h2>
}

<h1>Delete</h1>

<h3>Bent u zeker dat u het project wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Project.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Project.Name)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Project.ProjectDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Project.ProjectDescription)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Project.StartDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Project.StartDate.Day)/@Html.DisplayFor(model => model.Project.StartDate.Month)/@Html.DisplayFor(model => model.Project.StartDate.Year)
                </dd>
            </div>
            <div class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Project.EndDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Project.EndDate.Day)/@Html.DisplayFor(model => model.Project.EndDate.Month)/@Html.DisplayFor(model => model.Project.EndDate.Year)
                </dd>
            </div>   
            <form class="mt-5" asp-action="Delete">
                <input type="hidden" asp-for="Project.ProjectID" />
                @if (Model.deleteable == true)
                {
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
                else
                {
                    <input type="submit" value="Delete" disabled class="btn btn-danger" />
                }

                | <a asp-action="Index">Terug naar overzicht</a>
            </form>
        </div>     
        <div class="col-md-6">
            <img class="floatimg ml-5 mt-5" src="~/img/delete.svg" alt="Alternate Text" width="100%" />
        </div>
    </dl>


</div>
